<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
    
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="logo mx-auto mt-3 mr-3">
                    <img src="/tocotoco/public/img/thuonghieu/logo2.jpg" alt="logo2">
                </div>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-5 col-sm-6 col-12">
            <h6 class="text-uppercase mb-4 font-weight-bold">CÔNG TY CP TM & DV TACO VIỆT NAM</h6>
            <p><i class="fa fa-home mr-3"></i>Tầng 2 tòa nhà T10, Times City Vĩnh Tuy, Hai Bà Trưng, Hà Nội.</p>
            <p> <i class="fa fa-phone mr-3"></i>1900.63.69.36</p>
            <p><i class="fa fa-envelope mr-3"></i>info@tocotocotea.com</p>
            <p>Số ĐKKD: 0106341306. Ngày cấp: 16/03/2017. <br>
                Nơi cấp: Sở kế hoạch và Đầu tư Thành phố Hà Nội.</p>
                <div class="text-center text-md-left">
                    <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-google"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    </ul>
                </div>
    
                <div class="text-center text-md-left">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img src="/tocotoco/public/img/thuonghieu/appstore.jpg" alt="logo2"  width="150px" height="40px">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img src="/tocotoco/public/img/thuonghieu/googleplay.jpg" alt="logo2"  width="150px" height="40px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 col-sm-6 col-12">
            <h6 class="text-uppercase mb-4 font-weight-bold">VỀ CHÚNG TÔI</h6>
            <p>Giới thiệu ToCoToCo</p>
            <p>Nhượng quyền</p>
            <p>Tin tức và ưu đãi</p>
            <p>Cửa hàng</p>
            <p>Quy định chung</p>
            <p>TT Liên hệ và ĐKKD</p>
    
            </div>
    
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 col-sm-6 col-12">
            <h6 class="text-uppercase mb-4 font-weight-bold">CHÍNH SÁCH</h6>
            <p>Chính sách thành viên</p>
            <p>Hình thức thanh toán</p>
            <p>Vận chuyển giao nhận</p>
            <p>Đổi trả và hoàn tiền</p>
            <p>Bảo vệ TT cá nhân</p>
            <p>Bảo hành, bảo trì</p>
            </div> 
            <!-- Grid column -->
    
        </div>
        <!-- Footer links -->
    
        <hr>
    
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-8">
    
            <!--Copyright-->
            <p class="text-center text-md-left">
                <strong>ToCoToCo - Thương hiệu trà sữa tiên phong sử dụng nguồn nông sản Việt Nam</strong>
            </p>
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 ml-lg-0">
    
            <!-- Social buttons -->
            <div class="text-center text-md-left">
                <p>Copyrights © 2019 by ToCoToCoTea.</p>
            </div>
    
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        </footer>
    <!-- End Footer -->
        